name: Update Repository

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - closed

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          token: ${{ secrets.PREVIEW_TOKEN }}

      - name: Set up Git Config
        run: |
          git config --global user.name chokey2nv
          git config --global user.email chokey2nv@yahoo.com
          pwd

      - name: Set Specific Origin For New Branch and Push
        run: |
          git checkout -b override1
          git remote add far https://github.com/chokey2nv/react-checkout.git
          git push --set-upstream far override1;