name: Update Repository

on:
  push:
    branches:
      - exp

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Git Config
        run: |
          git config --global user.name "chokey2nv"
          git config --global user.email "chokey2nv@gmail.com"
          echo ${{ secrets.ACCESS_TOKEN }}
          echo -------
          echo ${{ secrets.PREVIEW_TOKEN }}
          echo -------
          echo ${{ secrets.GIT_PASSWORD }}
          echo -------
          echo ${{ secrets.GIT_PASS }}

      - name: Add Second Remote
        run: |
          git remote add repo-b https://chokey2nv:${{ secrets.GIT_PASSWORD }}@github.com/chokey2nv/vote_dapp.git
          git remote -v

      - name: Fetch Repo B
        run: git fetch repo-b

      - name: Create and Checkout Branch in Repo B
        run: |
          git checkout -b override 
          git push --set-upstream repo-b override

      - name: Push to Repo B
        run: |
          git push repo-b override
