name: Update Repository

on:
  push:
    branches:
      - exp

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Git Config
        run: |
          git config --global user.name "chokey2nv"
          git config --global user.email "chokey2nv@gmail.com"

      - name: Add Second Remote
        run: |
          git remote add repo-b https://chokey2nv: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@github.com/chokey2nv/react-checkout.git
          git remote -v

      - name: Fetch Repo B
        run: git fetch repo-b

      - name: Create and Checkout Branch in Repo B
        run: |
          git checkout -b override 
          git push --set-upstream repo-b override

      - name: Push to Repo B
        run: |
          git push repo-b override
